{
  "presets": ["next/babel"],
  "plugins": [
    // [
    //   "@babel/plugin-transform-runtime",
    //   {
    //     "corejs": 3,
    //     "proposals": true
    //   }
    // ],
    [
      "styled-components",
      {
        "ssr": true,
        "preprocess": false,
        "fileName": true,
        "displayName": true,
        "pure": true
      }
    ]
  ]
}
