{
  "presets": ["next/babel", "@babel/env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "babel-plugin-styled-components",
      {
        "fileName": true,
        "displayName": true,
        "pure": true
      }
    ]
  ]
}
